<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smanga.business.mapper.ArtistMapper">
    
    <resultMap type="Artist" id="ArtistResult">
        <result property="id"    column="id"    />
        <result property="artistName"    column="artist_name"    />
        <result property="artistInfo"    column="artist_info"    />
        <result property="favoriteCounter"    column="favorite_counter"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectArtistVo">
        select id, artist_name, artist_info, favorite_counter, remark, del_flag, create_by, create_time, update_by, update_time from artist
    </sql>

    <select id="selectArtistList" parameterType="Artist" resultMap="ArtistResult">
        <include refid="selectArtistVo"/>
        <where>  
            <if test="artistName != null  and artistName != ''"> and artist_name like concat('%', #{artistName}, '%')</if>
            <if test="artistInfo != null  and artistInfo != ''"> and artist_info = #{artistInfo}</if>
            <if test="favoriteCounter != null "> and favorite_counter = #{favoriteCounter}</if>
            <if test="params.notInIdsArray != null">
            	and id not in
            	<foreach item="id" collection="params.notInIdsArray" open="(" separator="," close=")">
		            #{id}
		        </foreach>
            </if>
            <if test="params.keyword != null and params.keyword != ''"> and artist_name like concat('%', concat(#{params.keyword}, '%'))</if>
        </where>
        <if test="params.limit != null">limit #{params.limit}</if>
    </select>
    
    <select id="selectArtistById" parameterType="Long" resultMap="ArtistResult">
        <include refid="selectArtistVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertArtist" parameterType="Artist" useGeneratedKeys="true" keyProperty="id">
        insert into artist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="artistName != null and artistName != ''">artist_name,</if>
            <if test="artistInfo != null">artist_info,</if>
            <if test="favoriteCounter != null">favorite_counter,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="artistName != null and artistName != ''">#{artistName},</if>
            <if test="artistInfo != null">#{artistInfo},</if>
            <if test="favoriteCounter != null">#{favoriteCounter},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateArtist" parameterType="Artist">
        update artist
        <trim prefix="SET" suffixOverrides=",">
            <if test="artistName != null and artistName != ''">artist_name = #{artistName},</if>
            <if test="artistInfo != null">artist_info = #{artistInfo},</if>
            <if test="favoriteCounter != null">favorite_counter = #{favoriteCounter},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteArtistById" parameterType="Long">
        delete from artist where id = #{id}
    </delete>

    <delete id="deleteArtistByIds" parameterType="String">
        delete from artist where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>