<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smanga.business.mapper.AuthorMapper">
    
    <resultMap type="Author" id="AuthorResult">
        <result property="id"    column="id"    />
        <result property="authorName"    column="author_name"    />
        <result property="authorInfo"    column="author_info"    />
        <result property="favoriteCounter"    column="favorite_counter"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAuthorVo">
        select id, author_name, author_info, favorite_counter, remark, del_flag, create_by, create_time, update_by, update_time from author
    </sql>

    <select id="selectAuthorList" parameterType="Author" resultMap="AuthorResult">
        <include refid="selectAuthorVo"/>
        <where>  
            <if test="authorName != null  and authorName != ''"> and author_name like concat('%', #{authorName}, '%')</if>
            <if test="authorInfo != null  and authorInfo != ''"> and author_info = #{authorInfo}</if>
            <if test="favoriteCounter != null "> and favorite_counter = #{favoriteCounter}</if>
        </where>
    </select>
    
    <select id="selectAuthorById" parameterType="Long" resultMap="AuthorResult">
        <include refid="selectAuthorVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAuthor" parameterType="Author" useGeneratedKeys="true" keyProperty="id">
        insert into author
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="authorName != null and authorName != ''">author_name,</if>
            <if test="authorInfo != null">author_info,</if>
            <if test="favoriteCounter != null">favorite_counter,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="authorName != null and authorName != ''">#{authorName},</if>
            <if test="authorInfo != null">#{authorInfo},</if>
            <if test="favoriteCounter != null">#{favoriteCounter},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAuthor" parameterType="Author">
        update author
        <trim prefix="SET" suffixOverrides=",">
            <if test="authorName != null and authorName != ''">author_name = #{authorName},</if>
            <if test="authorInfo != null">author_info = #{authorInfo},</if>
            <if test="favoriteCounter != null">favorite_counter = #{favoriteCounter},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAuthorById" parameterType="Long">
        delete from author where id = #{id}
    </delete>

    <delete id="deleteAuthorByIds" parameterType="String">
        delete from author where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>