<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smanga.business.mapper.MangaChapterMapper">
    
    <resultMap type="MangaChapter" id="MangaChapterResult">
        <result property="id"    column="id"    />
        <result property="chapterName"    column="chapter_name"    />
        <result property="chapterIndex"    column="chapter_index"    />
        <result property="chapterLang"    column="chapter_lang"    />
        <result property="chapterImages"    column="chapter_images"    />
        <result property="chapterImageIds"    column="chapter_image_ids"    />
        <result property="mangaId"    column="manga_id"    />
        <result property="viewCounter"    column="view_counter"    />
        <result property="favoriteCounter"    column="favorite_counter"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="releaseTime"    column="release_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="manga"     column="manga_id" javaType="Manga" resultMap="mangaResult" />
    </resultMap>

	<resultMap id="mangaResult" type="Manga">
		<id     property="id"    column="id"     />
		<result property="mangaName"    column="manga_name"    />
		<result property="coverImage"    column="cover_image"    />
		<result property="favoriteCounter"    column="favorite_counter"    />
	</resultMap>

    <sql id="selectMangaChapterVo">
        select id, chapter_name, chapter_index, chapter_lang, chapter_images, chapter_image_ids, manga_id, view_counter, favorite_counter, remark, status, del_flag, release_time, create_by, create_time, update_by, update_time from manga_chapter
    </sql>

    <select id="selectMangaChapterList" parameterType="MangaChapter" resultMap="MangaChapterResult">
        <include refid="selectMangaChapterVo"/>
        <where>  
            <if test="chapterName != null  and chapterName != ''"> and chapter_name like concat('%', #{chapterName}, '%')</if>
            <if test="chapterIndex != null  and chapterIndex != ''"> and chapter_index = #{chapterIndex}</if>
            <if test="chapterLang != null  and chapterLang != ''"> and chapter_lang = #{chapterLang}</if>
            <if test="chapterImages != null  and chapterImages != ''"> and chapter_images = #{chapterImages}</if>
            <if test="chapterImageIds != null "> and chapter_image_ids = #{chapterImageIds}</if>
            <if test="mangaId != null "> and manga_id = #{mangaId}</if>
            <if test="viewCounter != null "> and view_counter = #{viewCounter}</if>
            <if test="favoriteCounter != null "> and favorite_counter = #{favoriteCounter}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="releaseTime != null"> and release_time = #{releaseTime}</if>
        </where>
    </select>
    
    <select id="selectMangaChapterById" parameterType="Long" resultMap="MangaChapterResult">
        <include refid="selectMangaChapterVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMangaChapter" parameterType="MangaChapter" useGeneratedKeys="true" keyProperty="id">
        insert into manga_chapter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chapterName != null">chapter_name,</if>
            <if test="chapterIndex != null and chapterIndex != ''">chapter_index,</if>
            <if test="chapterLang != null">chapter_lang,</if>
            <if test="chapterImages != null">chapter_images,</if>
            <if test="chapterImageIds != null">chapter_image_ids,</if>
            <if test="mangaId != null">manga_id,</if>
            <if test="viewCounter != null">view_counter,</if>
            <if test="favoriteCounter != null">favorite_counter,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="releaseTime != null">release_time,</if>
            <if test="createBy != null">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chapterName != null">#{chapterName},</if>
            <if test="chapterIndex != null and chapterIndex != ''">#{chapterIndex},</if>
            <if test="chapterLang != null">#{chapterLang},</if>
            <if test="chapterImages != null">#{chapterImages},</if>
            <if test="chapterImageIds != null">#{chapterImageIds},</if>
            <if test="mangaId != null">#{mangaId},</if>
            <if test="viewCounter != null">#{viewCounter},</if>
            <if test="favoriteCounter != null">#{favoriteCounter},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="releaseTime != null">#{releaseTime},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateMangaChapter" parameterType="MangaChapter">
        update manga_chapter
        <trim prefix="SET" suffixOverrides=",">
            <if test="chapterName != null">chapter_name = #{chapterName},</if>
            <if test="chapterIndex != null and chapterIndex != ''">chapter_index = #{chapterIndex},</if>
            <if test="chapterLang != null">chapter_lang = #{chapterLang},</if>
            <if test="chapterImages != null">chapter_images = #{chapterImages},</if>
            <if test="chapterImageIds != null">chapter_image_ids = #{chapterImageIds},</if>
            <if test="mangaId != null">manga_id = #{mangaId},</if>
            <if test="viewCounter != null">view_counter = #{viewCounter},</if>
            <if test="favoriteCounter != null">favorite_counter = #{favoriteCounter},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="releaseTime != null">release_time = #{releaseTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMangaChapterById" parameterType="Long">
        delete from manga_chapter where id = #{id}
    </delete>

    <delete id="deleteMangaChapterByIds" parameterType="String">
        delete from manga_chapter where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

	<select id="selectMangaChapterLatestList" parameterType="MangaChapter" resultMap="MangaChapterResult">
        select c.id, c.chapter_name, c.chapter_index, c.chapter_lang, c.manga_id, c.view_counter, 
        	c.favorite_counter, c.remark, c.status, c.del_flag, c.release_time, c.create_by, 
        	c.create_time, c.update_by, c.update_time, m.manga_name, m.cover_image, m.favorite_counter
        from manga_chapter c left join manga m on c.manga_id = m.id
        <where>  
            <if test="chapterName != null  and chapterName != ''"> and c.chapter_name like concat('%', #{chapterName}, '%')</if>
            <if test="chapterIndex != null  and chapterIndex != ''"> and c.chapter_index = #{chapterIndex}</if>
            <if test="chapterLang != null  and chapterLang != ''"> and c.chapter_lang = #{chapterLang}</if>
            <if test="chapterImages != null  and chapterImages != ''"> and c.chapter_images = #{chapterImages}</if>
            <if test="chapterImageIds != null "> and c.chapter_image_ids = #{chapterImageIds}</if>
            <if test="mangaId != null "> and c.manga_id = #{mangaId}</if>
            <if test="viewCounter != null "> and c.view_counter = #{viewCounter}</if>
            <if test="favoriteCounter != null "> and c.favorite_counter = #{favoriteCounter}</if>
            <if test="status != null  and status != ''"> and c.status = #{status}</if>
            <if test="releaseTime != null"> and c.release_time = #{releaseTime}</if>
        </where>
        order by c.release_time desc
    </select>
    
    <select id="selectChapterListForManga" parameterType="MangaChapter" resultMap="MangaChapterResult">
        select id, chapter_name, chapter_index, chapter_lang, release_time
        from manga_chapter
        <where>  
            <if test="chapterName != null  and chapterName != ''"> and chapter_name like concat('%', #{chapterName}, '%')</if>
            <if test="chapterIndex != null  and chapterIndex != ''"> and chapter_index = #{chapterIndex}</if>
            <if test="chapterLang != null  and chapterLang != ''"> and chapter_lang = #{chapterLang}</if>
            <if test="chapterImages != null  and chapterImages != ''"> and chapter_images = #{chapterImages}</if>
            <if test="chapterImageIds != null "> and chapter_image_ids = #{chapterImageIds}</if>
            <if test="mangaId != null "> and manga_id = #{mangaId}</if>
            <if test="viewCounter != null "> and view_counter = #{viewCounter}</if>
            <if test="favoriteCounter != null "> and favorite_counter = #{favoriteCounter}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="releaseTime != null"> and release_time = #{releaseTime}</if>
        </where>
        order by chapter_index asc, release_time asc
    </select>
</mapper>