<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smanga.business.mapper.MangaMapper">
    
    <resultMap type="Manga" id="MangaResult">
        <result property="id"    column="id"    />
        <result property="mangaName"    column="manga_name"    />
        <result property="categories"    column="categories"    />
        <result property="categoryIds"    column="category_ids"    />
        <result property="author"    column="author"    />
        <result property="authorId"    column="author_id"    />
        <result property="favoriteCounter"    column="favorite_counter"    />
        <result property="remark"    column="remark"    />
        <result property="coverImage"    column="cover_image"    />
        <result property="coverImageId"    column="cover_image_id"    />
        <result property="slideImage"    column="slide_image"    />
        <result property="slideImageId"    column="slide_image_id"    />
        <result property="recommendedAge"    column="recommended_age"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="artist"    column="artist"    />
        <result property="artistId"    column="artist_id"    />
        <result property="releaseTime"    column="release_time"    />
        <result property="viewCounter"    column="view_counter"    />
        <result property="statusComplete"    column="status_complete"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMangaVo">
        select id, manga_name, categories, category_ids, author, author_id, favorite_counter, remark, cover_image, cover_image_id, slide_image, slide_image_id, recommended_age, status, del_flag, artist, artist_id, release_time, view_counter, status_complete, create_by, create_time, update_by, update_time from manga
    </sql>

    <select id="selectMangaList" parameterType="Manga" resultMap="MangaResult">
        <include refid="selectMangaVo"/>
        <where>  
            <if test="mangaName != null  and mangaName != ''"> and manga_name like concat('%', #{mangaName}, '%')</if>
            <if test="categories != null  and categories != ''"> and categories = #{categories}</if>
            <if test="categoryIds != null  and categoryIds != ''"> and category_ids = #{categoryIds}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="authorId != null "> and author_id = #{authorId}</if>
            <if test="favoriteCounter != null "> and favorite_counter = #{favoriteCounter}</if>
            <if test="coverImage != null  and coverImage != ''"> and cover_image = #{coverImage}</if>
            <if test="coverImageId != null "> and cover_image_id = #{coverImageId}</if>
            <if test="slideImage != null  and slideImage != ''"> and slide_image = #{slideImage}</if>
            <if test="slideImageId != null "> and slide_image_id = #{slideImageId}</if>
            <if test="recommendedAge != null  and recommendedAge != ''"> and recommended_age = #{recommendedAge}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="artist != null  and artist != ''"> and artist = #{artist}</if>
            <if test="artistId != null "> and artist_id = #{artistId}</if>
            <if test="releaseTime != null "> and release_time = #{releaseTime}</if>
            <if test="viewCounter != null"> and view_counter = #{viewCounter}</if>
            <if test="statusComplete != null"> and status_complete = #{statusComplete}</if>
        </where>
    </select>
    
    <select id="selectMangaById" parameterType="Long" resultMap="MangaResult">
        <include refid="selectMangaVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertManga" parameterType="Manga" useGeneratedKeys="true" keyProperty="id">
        insert into manga
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mangaName != null and mangaName != ''">manga_name,</if>
            <if test="categories != null and categories != ''">categories,</if>
            <if test="categoryIds != null and categoryIds != ''">category_ids,</if>
            <if test="author != null">author,</if>
            <if test="authorId != null">author_id,</if>
            <if test="favoriteCounter != null">favorite_counter,</if>
            <if test="remark != null">remark,</if>
            <if test="coverImage != null">cover_image,</if>
            <if test="coverImageId != null">cover_image_id,</if>
            <if test="slideImage != null">slide_image,</if>
            <if test="slideImageId != null">slide_image_id,</if>
            <if test="recommendedAge != null">recommended_age,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="artist != null">artist,</if>
            <if test="artistId != null">artist_id,</if>
            <if test="releaseTime != null">release_time,</if>
            <if test="viewCounter != null">view_counter,</if>
            <if test="statusComplete != null">status_complete,</if>
            <if test="createBy != null">create_by,</if>
           	create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mangaName != null and mangaName != ''">#{mangaName},</if>
            <if test="categories != null and categories != ''">#{categories},</if>
            <if test="categoryIds != null and categoryIds != ''">#{categoryIds},</if>
            <if test="author != null">#{author},</if>
            <if test="authorId != null">#{authorId},</if>
            <if test="favoriteCounter != null">#{favoriteCounter},</if>
            <if test="remark != null">#{remark},</if>
            <if test="coverImage != null">#{coverImage},</if>
            <if test="coverImageId != null">#{coverImageId},</if>
            <if test="slideImage != null">#{slideImage},</if>
            <if test="slideImageId != null">#{slideImageId},</if>
            <if test="recommendedAge != null">#{recommendedAge},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="artist != null">#{artist},</if>
            <if test="artistId != null">#{artistId},</if>
            <if test="releaseTime != null">#{releaseTime},</if>
            <if test="viewCounter != null">#{viewCounter},</if>
            <if test="statusComplete != null">#{statusComplete},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateManga" parameterType="Manga">
        update manga
        <trim prefix="SET" suffixOverrides=",">
            <if test="mangaName != null and mangaName != ''">manga_name = #{mangaName},</if>
            <if test="categories != null and categories != ''">categories = #{categories},</if>
            <if test="categoryIds != null and categoryIds != ''">category_ids = #{categoryIds},</if>
            <if test="author != null">author = #{author},</if>
            <if test="authorId != null">author_id = #{authorId},</if>
            <if test="favoriteCounter != null">favorite_counter = #{favoriteCounter},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="coverImageId != null">cover_image_id = #{coverImageId},</if>
            <if test="slideImage != null">slide_image = #{slideImage},</if>
            <if test="slideImageId != null">slide_image_id = #{slideImageId},</if>
            <if test="recommendedAge != null">recommended_age = #{recommendedAge},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="artist != null">artist = #{artist},</if>
            <if test="artistId != null">artist_id = #{artistId},</if>
            <if test="releaseTime != null">release_time = #{releaseTime},</if>
            <if test="viewCounter != null">view_counter = #{viewCounter},</if>
            <if test="statusComplete != null">status_complete = #{statusComplete},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="params.nullCoverImage != null">
            	cover_image_id = null,
            	cover_image = '',
            </if>
            <if test="params.nullSlideImage != null">
            	slide_image_id = null,
            	slide_image = '',
            </if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMangaById" parameterType="Long">
        delete from manga where id = #{id}
    </delete>

    <delete id="deleteMangaByIds" parameterType="String">
        delete from manga where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

	<select id="selectMostPopularMangaList" parameterType="Manga" resultMap="MangaResult">
        <include refid="selectMangaVo"/>
        <where>  
        	and release_time is not null
            <if test="mangaName != null  and mangaName != ''"> and manga_name like concat('%', #{mangaName}, '%')</if>
            <if test="categories != null  and categories != ''"> and categories = #{categories}</if>
            <if test="categoryIds != null  and categoryIds != ''"> and category_ids = #{categoryIds}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="authorId != null "> and author_id = #{authorId}</if>
            <if test="favoriteCounter != null "> and favorite_counter = #{favoriteCounter}</if>
            <if test="coverImage != null  and coverImage != ''"> and cover_image = #{coverImage}</if>
            <if test="coverImageId != null "> and cover_image_id = #{coverImageId}</if>
            <if test="slideImage != null  and slideImage != ''"> and slide_image = #{slideImage}</if>
            <if test="slideImageId != null "> and slide_image_id = #{slideImageId}</if>
            <if test="recommendedAge != null  and recommendedAge != ''"> and recommended_age = #{recommendedAge}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="artist != null  and artist != ''"> and artist = #{artist}</if>
            <if test="artistId != null "> and artist_id = #{artistId}</if>
            <if test="releaseTime != null "> and release_time = #{releaseTime}</if>
            <if test="viewCounter != null"> and view_counter = #{viewCounter}</if>
            <if test="statusComplete != null"> and status_complete = #{statusComplete}</if>
        </where>
        order by view_counter desc limit 6
    </select>
    
    <select id="selectRecommendMangaList" parameterType="Manga" resultMap="MangaResult">
        select m.id, m.manga_name, m.categories, m.category_ids, m.author, m.author_id, m.favorite_counter, m.remark, m.cover_image, m.cover_image_id, 
        m.slide_image, m.slide_image_id, m.recommended_age, m.status, m.del_flag, m.artist, m.artist_id, m.release_time, m.view_counter, m.status_complete, 
        m.create_by, m.create_time, m.update_by, m.update_time, r.rating, r.user_id from manga m right join recommend_manga r on m.id = r.manga_id
        <where>  
        	and r.is_recommend = 1 
            <if test="mangaName != null  and mangaName != ''"> and m.manga_name like concat('%', #{mangaName}, '%')</if>
            <if test="categories != null  and categories != ''"> and m.categories = #{categories}</if>
            <if test="categoryIds != null  and categoryIds != ''"> and m.category_ids = #{categoryIds}</if>
            <if test="author != null  and author != ''"> and m.author = #{author}</if>
            <if test="authorId != null "> and m.author_id = #{authorId}</if>
            <if test="favoriteCounter != null "> and m.favorite_counter = #{favoriteCounter}</if>
            <if test="coverImage != null  and coverImage != ''"> and m.cover_image = #{coverImage}</if>
            <if test="coverImageId != null "> and m.cover_image_id = #{coverImageId}</if>
            <if test="slideImage != null  and slideImage != ''"> and m.slide_image = #{slideImage}</if>
            <if test="slideImageId != null "> and m.slide_image_id = #{slideImageId}</if>
            <if test="recommendedAge != null  and recommendedAge != ''"> and m.recommended_age = #{recommendedAge}</if>
            <if test="status != null  and status != ''"> and m.status = #{status}</if>
            <if test="artist != null  and artist != ''"> and m.artist = #{artist}</if>
            <if test="artistId != null "> and m.artist_id = #{artistId}</if>
            <if test="releaseTime != null "> and m.release_time = #{releaseTime}</if>
            <if test="viewCounter != null"> and m.view_counter = #{viewCounter}</if>
            <if test="statusComplete != null"> and m.status_complete = #{statusComplete}</if>
            <if test="params.userId != null"> and r.user_id = #{params.userId}</if>
        </where>
        order by r.rating desc limit 5
    </select>
</mapper>