<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<th:block th:include="include :: header('Other operations')" />
</head>

<body class="gray-bg">
	<div class="container-div">
		<div class="btn-group-sm" id="toolbar" role="group">
			<a class="btn btn-success" onclick="$.table.showColumn('userName')">
				<i class="fa fa-check"></i> Display name
			</a>
			<a class="btn btn-danger" onclick="$.table.hideColumn('userName')">
				<i class="fa fa-close"></i> Hide name
			</a>
			<a class="btn btn-info" onclick="selectColumns()">
				<i class="fa fa-search"></i> Get the selected name
			</a>
			<a class="btn btn-warning" onclick="$.table.refresh()">
				<i class="fa fa-refresh"></i> Refresh
			</a>
			<a class="btn btn-danger" onclick="$.table.destroy()">
				<i class="fa fa-refresh"></i> Destroy
			</a>
			<a class="btn btn-primary" onclick="selectFirstColumns()">
				<i class="fa fa-search"></i> Get the selected first column value
			</a>
		</div>
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var prefix = ctx + "demo/table";
		var datas = [[${@dict.getType('sys_normal_disable') }]];

		$(function () {
			var options = {
				url: prefix + "/list",
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
				columns: [{
					checkbox: true
				},
				{
					field: 'userId',
					title: 'User ID'
				},
				{
					field: 'userCode',
					title: 'User ID'
				},
				{
					field: 'userName',
					title: 'User name'
				},
				{
					field: 'userPhone',
					title: 'User mobile phone'
				},
				{
					field: 'userEmail',
					title: 'User mailbox'
				},
				{
					field: 'userBalance',
					title: 'User balance'
				},
				{
					field: 'status',
					title: 'User Status',
					align: 'center',
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(datas, value);
					}
				},
				{
					title: 'Operation',
					align: 'center',
					formatter: function (value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs" href="#"><i class="fa fa-edit"></i>Edit</a>');
						actions.push('<a class="btn btn-danger btn-xs" href="#"><i class="fa fa-remove"></i>Delete</a>');
						return actions.join('');
					}
				}]
			};
			$.table.init(options);
		});

		function selectColumns() {
			var column = $.table.selectColumns('userName');
			alert(column);
		}

		function selectFirstColumns() {
			var column = $.table.selectFirstColumns();
			alert(column);
		}
	</script>
</body>

</html>