<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<th:block th:include="include :: header('Table drag operation')" />
</head>

<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<p class="select-title">Hold down the table and drag</p>
				<table id="bootstrap-table" data-use-row-attr-func="true" data-reorderable-rows="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<th:block th:include="include :: bootstrap-table-reorder-js" />
	<script th:inline="javascript">
		var prefix = ctx + "demo/table";
		var datas = [[${@dict.getType('sys_normal_disable') }]];

		$(function () {
			var options = {
				url: prefix + "/list",
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
				onReorderRow: function (data) {
					//When the drag is over, data is the data of the entire table
					console.log('Drag and drop ended ' + JSON.stringify(data))
					return false;
				},
				columns: [{
					checkbox: true
				},
				{
					field: 'userId',
					title: 'User ID'
				},
				{
					field: 'userCode',
					title: 'User ID'
				},
				{
					field: 'userName',
					title: 'User name'
				},
				{
					field: 'userPhone',
					title: 'User mobile phone'
				},
				{
					field: 'userEmail',
					title: 'User mailbox'
				},
				{
					field: 'userBalance',
					title: 'User balance'
				},
				{
					field: 'status',
					title: 'User Status',
					align: 'center',
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(datas, value);
					}
				}]
			};
			$.table.init(options);
		});
	</script>
</body>

</html>