<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('AddManga Category')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-category-add">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Category name：</label>
                <div class="col-sm-8">
                    <input name="categoryName" id="categoryName" placeholder="Please enter the category name"
                        class="form-control" type="text" maxlength="30" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Category status：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="1" checked>
                        <label th:for="status" th:text="Enable"></label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="status" value="0">
                        <label th:for="status" th:text="Disable"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Cover image：</label>
                <div class="col-sm-8">
                    <div class="file-loading">
                        <input type="file" id="cover-image-upload">
                    </div>
                    <input type="hidden" name="coverImage" id="coverImage" />
                    <input type="hidden" name="coverImageId" id="coverImageId" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Age recommend：</label>
                <div class="col-sm-8">
                    <input name="recommendedAge" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remark：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/category"

        $(document).ready(function () {
            $("#cover-image-upload").fileinput({
                theme: 'explorer-fas',
                uploadUrl: ctx + "file/category/cover",
                maxFileCount: 1,
                validateInitialCount: true,
                overwriteInitial: false, // append files to initial preview
                browseOnZoneClick: true
            });

            $("#cover-image-upload").on("fileuploaded", function (event, data, proviewId, index) {
                if (data.response.code == 0) {
                    let file = data.response.file;
                    $('#coverImageId').val(file.id);
                    $('#coverImage').val(file.imagePath);

                }
            });

            $('#cover-image-upload').on('filebeforeload', function (event, file, index, reader) {
                // perform your validations based on the 'file' or other parameters
                if ($('#coverImageId').val()) {
                    $.modal.alert("You can't upload more than 1 cover for a category!");
                    return false; // will abort the file loading for the selected file
                }
            });

            // Trigger to delete file when remove preview
            $('#cover-image-upload').on('fileremoved', function (event, id, index) {
                deleteImage();
            });

            // Trigger to delete file when clear preview
            $('#cover-image-upload').on('filecleared', function (event) {
                deleteImage();
            });

        });

        // Validate 
        $("#form-category-add").validate({
            onkeyup: false,
            rules: {
                categoryName: {
                    minlength: 1,
                    maxlength: 30,
                    remote: {
                        url: prefix + "/name/unique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "categoryName": function () {
                                return $.common.trim($("#categoryName").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
            },
            messages: {
                "loginName": {
                    remote: "Category name already exists"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-category-add').serialize());
            }
        }

        function deleteImage() {
            let id = $('#coverImageId').val();
            $('#coverImageId').val('');
            $('#coverImage').val('');
            if (id) {
                $.ajax({
                    url: ctx + 'file/category/cover',
                    method: 'DELETE',
                    data: {
                        ids: id
                    },
                    success: function (res) {
                        if (res.code != 0) {
                            console.log('Error when delete image: ' + res.msg);
                        }
                    },
                    error: function (err) {
                        console.log('System error!');
                    }
                });
            }
        }
    </script>
</body>

</html>