<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('modify Manga')" />
</head>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-manga-edit" th:object="${manga}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Manga name：</label>
                <div class="col-sm-8">
                    <input name="mangaName" th:field="*{mangaName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Categories (each category seperated by comma)：</label>
                <div class="col-sm-8">
                    <input name="categories" th:field="*{categories}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Category ids (String with multiple category id
                    seperated by comma：</label>
                <div class="col-sm-8">
                    <input name="categoryIds" th:field="*{categoryIds}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Author name of manga：</label>
                <div class="col-sm-8">
                    <input name="author" th:field="*{author}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Id of author：</label>
                <div class="col-sm-8">
                    <input name="authorId" th:field="*{authorId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Number of reader like this manga：</label>
                <div class="col-sm-8">
                    <input name="favoriteCounter" th:field="*{favoriteCounter}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remark：</label>
                <div class="col-sm-8">
                    <input name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Manga cover image path：</label>
                <div class="col-sm-8">
                    <input name="coverImage" th:field="*{coverImage}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Id of cover image：</label>
                <div class="col-sm-8">
                    <input name="coverImageId" th:field="*{coverImageId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Manga slide image path：</label>
                <div class="col-sm-8">
                    <input name="slideImage" th:field="*{slideImage}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Id of slide image：</label>
                <div class="col-sm-8">
                    <input name="slideImageId" th:field="*{slideImageId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Age recommend：</label>
                <div class="col-sm-8">
                    <input name="recommendedAge" th:field="*{recommendedAge}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Category status (1 enabled 0 disabled)：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="">
                        <label th:for="status" th:text="unknown"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Please select dictionary
                        attribute for code generation</span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "business/manga";
        $("#form-manga-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-manga-edit').serialize());
            }
        }
    </script>
</body>

</html>