<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('modify Manga Chapter')" />
</head>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-chapter-edit" th:object="${mangaChapter}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">Chapter name：</label>
                <div class="col-sm-8">
                    <input name="chapterName" class="form-control" type="text" maxlength="100" th:field="*{chapterName}"
                        placeholder="Enter the chapter name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Chapter index：</label>
                <div class="col-sm-8">
                    <input name="chapterIndex" class="form-control" type="number" th:field="*{chapterIndex}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Language：</label>
                <div class="col-sm-8">
                    <select name="chapterLang" class="form-control m-b"
                        th:with="type=${@dict.getType('sys_manga_lang')}">
                        <option th:each="dict: ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                            th:field="*{chapterLang}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remark：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control" th:field="*{remark}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Chapter status：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="1"
                            th:checked="${mangaChapter.status == '1' ? true : false}">
                        <label th:for="status" th:text="Enable"></label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="status" value="0"
                            th:checked="${mangaChapter.status == '0' ? true : false}">
                        <label th:for="status" th:text="Disable"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "business/chapter";
        $("#form-chapter-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-chapter-edit').serialize());
            }
        }
    </script>
</body>

</html>