<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Register Smanga Manga System</title>
    <meta name="description" content="若依后台管理框架">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/login.min.css" th:href="@{/css/login.min.css}" rel="stylesheet" />
    <link href="../static/smanga/css/smanga-ui.css" th:href="@{/smanga/css/smanga-ui.css?v=4.5.1}" rel="stylesheet" />
    <!-- 360 browser rapid mode -->
    <meta name="renderer" content="webkit">
    <!-- Avoid IE using compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}" />
    <style type="text/css">
        label.error {
            position: inherit;
        }
    </style>
</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1><img alt="[ Smanga ]" src="../static/ruoyi.png" th:src="@{/ruoyi.png}"></h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>Welcome to <strong>Smart manga background management system</strong></h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> SpringBoot</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Mybatis</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Shiro</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Thymeleaf</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Bootstrap</li>
                    </ul>
                    <strong>Already registered? <a th:href="@{/login}">Log in directly&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-5">
                <form id="registerForm" autocomplete="off">
                    <h4 class="no-margins">Registration:</h4>
                    <p class="m-t-md">If you do not leave, I will depend on each other for life and death</p>
                    <input type="text" name="username" class="form-control uname" placeholder="user name"
                        maxlength="20" />
                    <input type="password" name="password" class="form-control pword" placeholder="password"
                        maxlength="20" />
                    <input type="password" name="confirmPassword" class="form-control pword"
                        placeholder="Confirm password" maxlength="20" />
                    <div class="row m-t" th:if="${captchaEnabled==true}">
                        <div class="col-xs-6">
                            <input type="text" name="validateCode" class="form-control code"
                                placeholder="Verification code" maxlength="5">
                        </div>
                        <div class="col-xs-6">
                            <a href="javascript:void(0);" title="Click to replace the verification code">
                                <img th:src="@{captcha/captchaImage(type=${captchaType})}" class="imgcode"
                                    width="85%" />
                            </a>
                        </div>
                    </div>
                    <div class="checkbox-custom" th:classappend="${captchaEnabled==false}?'m-t'">
                        <input type="checkbox" id="acceptTerm" name="acceptTerm"> <label for="acceptTerm">I have read
                            and agree</label>
                        <a href="https://gitee.com/y_project/RuoYi/blob/master/README.md" target="_blank">Terms of
                            Use</a>
                    </div>
                    <button class="btn btn-success btn-block" id="btnSubmit"
                        data-loading="Verifying registration, please wait...">Register</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2020 All Rights Reserved. RuoYi <br>
            </div>
        </div>
    </div>
    <script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
    <!-- Global js -->
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Verification plugin -->
    <script src="../static/ajax/libs/validate/jquery.validate.min.js"
        th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
    <script src="../static/ajax/libs/validate/messages_en.min.js"
        th:src="@{/ajax/libs/validate/messages_en.min.js}"></script>
    <script src="../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script src="../static/ajax/libs/blockUI/jquery.blockUI.js"
        th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
    <script src="../static/smanga/js/smanga-ui.js" th:src="@{/smanga/js/smanga-ui.js?v=4.5.1}"></script>
    <script src="../static/ruoyi/register.js" th:src="@{/ruoyi/register.js}"></script>
</body>

</html>