<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<th:block th:include="include :: header('Other operations')" />
</head>

<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal" id="form-demo-1">
			<div class="form-group">
				<label class="col-sm-2 control-label">User name: </label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="userName" placeholder="Please enter the user name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Mobile phone number: </label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="phonenumber" maxlength="11"
						placeholder="Please enter your phone number">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-sm btn-primary" onclick="submit1()"><i
							class="fa fa-check"></i>Save (do not refresh the current page)</button>&nbsp;
				</div>
			</div>
		</form>
		<hr />
		<form class="form-horizontal" id="form-demo-2">
			<div class="form-group">
				<label class="col-sm-2 control-label">User name: </label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="userName" placeholder="Please enter the user name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Mobile phone number: </label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="phonenumber" maxlength="11"
						placeholder="Please enter your phone number">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-sm btn-primary" onclick="submit2()"><i
							class="fa fa-check"></i>Save (refresh current page)</button>&nbsp;
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "demo/operate";
		function submit1() {
			$.operate.saveModal(prefix + "/edit", $('#form-demo-1').serialize());
		}

		function submit2() {
			$.ajax({
				url: prefix + "/edit",
				data: $('#form-demo-2').serialize(),
				type: "post",
				success: function (result) {
					if (result.code == 0) {
						layer.msg("Saved successfully, the data is being refreshed, please wait...", {
							icon: 1,
							time: 500,
							shade: [0.1, '#8F8F8F']
						}, function () {
							location.reload();
						});
					} else {
						alert(result.msg);
					}
				}
			})
		}
	</script>
</body>

</html>