<!DOCTYPE html>
<html lang="en">

<head>
	<th:block th:include="include :: header('Pop-up table')" />
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-title">
						<h5>Bounce frame</h5>
					</div>
					<div class="ibox-content" id="test">
						<p>The check box form and the single-select box form pop up (click submit to get the data). </p>
						<button type="button" class="btn btn-primary" onclick="selectCheckUser()">Pop-up form
							(checkbox)</button>
						<button type="button" class="btn btn-success" onclick="selectRadioUser()">Pop-up form (single
							selection box)</button>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-title">
						<h5>Bounce frame</h5>
					</div>
					<div class="ibox-content" id="test">
						<p>The check box form and the single-select box form are popped up (after clicking submit, the
							data is obtained and echoed to the parent form). </p>
						<button type="button" class="btn btn-info" onclick="selectUsersToParent()">Pop-up form (check
							box)</button>
						<p id="userids"> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "demo/modal";

		function selectCheckUser() {
			$.modal.open("Select user", prefix + "/check");
		}

		function selectRadioUser() {
			$.modal.open("Select user", prefix + "/radio");
		}

		function selectUsersToParent() {
			$.modal.open("Select user", prefix + "/parent");
		}

		function selectUsers() {
			alert(1);
		}
	</script>
</body>

</html>