<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="include :: header('按钮')" />
</head>

<body class="gray-bg">
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Button color</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Option 1</a>
                            </li>
                            <li><a href="#">Option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        You can use class to quickly change the color of the button, such as <code>.btn-primary</code>
                    </p>

                    <h3 class="font-bold">
                        Normal button
                    </h3>
                    <p>
                        <button type="button" class="btn btn-w-m btn-default">btn-default</button>
                        <button type="button" class="btn btn-w-m btn-primary">btn-primary</button>
                        <button type="button" class="btn btn-w-m btn-success">btn-success</button>
                        <button type="button" class="btn btn-w-m btn-info">btn-info</button>
                        <button type="button" class="btn btn-w-m btn-warning">btn-warning</button>
                        <button type="button" class="btn btn-w-m btn-danger">btn-danger</button>
                        <button type="button" class="btn btn-w-m btn-white">btn-white</button>
                        <button type="button" class="btn btn-w-m btn-link">btn-link</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Button size</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Option 1</a>
                            </li>
                            <li><a href="#">Option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        You can add the class value to <code>.btn-lg</code>, <code>.btn-sm</code>, or
                        <code>.btn-xs</code>To modify the size of the button
                    </p>
                    <h3 class="font-bold">Button size</h3>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                        <button type="button" class="btn btn-default btn-lg">Large button</button>
                        <br />
                        <button type="button" class="btn btn-primary">default button</button>
                        <button type="button" class="btn btn-default">default button</button>
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">small button</button>
                        <button type="button" class="btn btn-default btn-sm">small button</button>
                        <br />
                        <button type="button" class="btn btn-primary btn-xs">Mini button</button>
                        <button type="button" class="btn btn-default btn-xs">Mini button</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Linear button</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Option 1</a>
                            </li>
                            <li><a href="#">Option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        To use linear buttons, add class<code>.btn-block</code> or <code>.btn-outline</code>
                    </p>

                    <h3 class="font-bold">Linear button</h3>
                    <p>
                        <button type="button" class="btn btn-outline btn-default">Default</button>
                        <button type="button" class="btn btn-outline btn-primary">primary</button>
                        <button type="button" class="btn btn-outline btn-success">Success</button>
                        <button type="button" class="btn btn-outline btn-info">Information</button>
                        <button type="button" class="btn btn-outline btn-warning">Warning</button>
                        <button type="button" class="btn btn-outline btn-danger">Danger</button>
                        <button type="button" class="btn btn-outline btn-link">Link</button>
                    </p>
                    <h3 class="font-bold">Block level button</h3>
                    <p>
                        <button type="button" class="btn btn-block btn-outline btn-primary">This is a block-level
                            button</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>3D button</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Option 1</a>
                            </li>
                            <li><a href="#">Option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        You can use 3D buttons by adding <code>.dim</code> class.
                    </p>
                    <h3 class="font-bold">3D button</h3>

                    <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fa fa-money"></i>
                    </button>
                    <button class="btn btn-warning dim btn-large-dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-danger  dim btn-large-dim" type="button"><i class="fa fa-heart"></i>
                    </button>
                    <button class="btn btn-primary  dim btn-large-dim" type="button"><i
                            class="fa fa-dollar"></i>6</button>
                    <button class="btn btn-info  dim btn-large-dim btn-outline" type="button"><i
                            class="fa fa-ruble"></i>
                    </button>
                    <button class="btn btn-primary dim" type="button"><i class="fa fa-money"></i>
                    </button>
                    <button class="btn btn-warning dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-primary dim" type="button"><i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-success  dim" type="button"><i class="fa fa-upload"></i>
                    </button>
                    <button class="btn btn-info  dim" type="button"><i class="fa fa-paste"></i>
                    </button>
                    <button class="btn btn-warning  dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-default  dim " type="button"><i class="fa fa-star"></i>
                    </button>
                    <button class="btn btn-danger  dim " type="button"><i class="fa fa-heart"></i>
                    </button>

                    <button class="btn btn-outline btn-primary dim" type="button"><i class="fa fa-money"></i>
                    </button>
                    <button class="btn btn-outline btn-warning dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-outline btn-primary dim" type="button"><i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-outline btn-success  dim" type="button"><i class="fa fa-upload"></i>
                    </button>
                    <button class="btn btn-outline btn-info  dim" type="button"><i class="fa fa-paste"></i>
                    </button>
                    <button class="btn btn-outline btn-warning  dim" type="button"><i class="fa fa-warning"></i>
                    </button>
                    <button class="btn btn-outline btn-danger  dim " type="button"><i class="fa fa-heart"></i>
                    </button>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Drop down button</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Option 1</a>
                                    </li>
                                    <li><a href="#">Option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>
                                The drop-down button can use any color and any size
                            </p>

                            <h3 class="font-bold">Dropdown button</h3>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Operation <span
                                        class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sticky</a>
                                    </li>
                                    <li><a href="#" class="font-bold">Edit</a>
                                    </li>
                                    <li><a href="#">Disable</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Operation <span
                                        class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sticky</a>
                                    </li>
                                    <li><a href="#">Edit</a>
                                    </li>
                                    <li><a href="#">Disable</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Operation<span
                                        class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Top</a>
                                    </li>
                                    <li><a href="#" class="font-bold">Edit</a>
                                    </li>
                                    <li><a href="#">Disable</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>

                            <br />
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Operation
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sticky</a>
                                    </li>
                                    <li><a href="#" class="font-bold">Edit</a>
                                    </li>
                                    <li><a href="#">Disable</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle">Operation
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sticky</a>
                                    </li>
                                    <li><a href="#" class="font-bold">Edit</a>
                                    </li>
                                    <li><a href="#">Disable</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Operation
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sticky</a>
                                    </li>
                                    <li><a href="#" class="font-bold">Edit</a>
                                    </li>
                                    <li><a href="#">Disable</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <br />
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">Operation
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sticky</a>
                                    </li>
                                    <li><a href="#" class="font-bold">Edit</a>
                                    </li>
                                    <li><a href="#">Disable</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-warning btn-xs dropdown-toggle">Operation
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sticky</a>
                                    </li>
                                    <li><a href="#" class="font-bold">Edit</a>
                                    </li>
                                    <li><a href="#">Disable</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Operation
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sticky</a>
                                    </li>
                                    <li><a href="#" class="font-bold">Edit</a>
                                    </li>
                                    <li><a href="#">Disable</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Button group</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Option 1</a>
                                    </li>
                                    <li><a href="#">Option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <h3 class="font-bold">Button group</h3>
                            <div class="btn-group">
                                <button class="btn btn-white" type="button">left</button>
                                <button class="btn btn-primary" type="button">Medium</button>
                                <button class="btn btn-white" type="button">right</button>
                            </div>
                            <br />
                            <br />
                            <div class="btn-group">
                                <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i>
                                </button>
                                <button class="btn btn-white">1</button>
                                <button class="btn btn-white  active">2</button>
                                <button class="btn btn-white">3</button>
                                <button class="btn btn-white">4</button>
                                <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Icon button </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Option 1</a>
                            </li>
                            <li><a href="#">Option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        Any button can add an icon on the left or right
                    </p>

                    <h3 class="font-bold">Icon button</h3>
                    <p>
                        <button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        <button class="btn btn-success " type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span
                                class="bold">Upload</span>
                        </button>
                        <button class="btn btn-info " type="button"><i class="fa fa-paste"></i> Edit</button>
                        <button class="btn btn-warning " type="button"><i class="fa fa-warning"></i> <span
                                class="bold">Warning</span>
                        </button>
                        <button class="btn btn-default " type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Baidu
                            Map</button>

                        <a class="btn btn-success">
                            <i class="fa fa-weixin"> </i> Share to WeChat
                        </a>
                        <a class="btn btn-success btn-outline">
                            <i class="fa fa-qq"> </i> Login with QQ account
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-user-md"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-group"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-exchange"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-check-circle-o"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-road"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-ambulance"></i>
                        </a>
                        <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-star"></i> Favorites
                        </a>
                    </p>

                    <h3 class="font-bold">Button toggle</h3>
                    <button data-toggle="button" class="btn btn-primary btn-outline" type="button">Button 1</button>
                    <button data-toggle="button" class="btn btn-primary" type="button">Button 2</button>
                    <div data-toggle="buttons-checkbox" class="btn-group">
                        <button class="btn btn-primary active" type="button"><i class="fa fa-bold"></i> bold</button>
                        <button class="btn btn-primary" type="button"><i class="fa fa-underline"></i> underline</button>
                        <button class="btn btn-primary active" type="button"><i class="fa fa-italic"></i>
                            Italic</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Round icon button</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Option 1</a>
                                    </li>
                                    <li><a href="#">Option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>
                                To use the circular icon button, you can add the class to <code>.btn-circle</code> to
                                achieve
                            </p>

                            <h3 class="font-bold">Round button</h3>
                            <br />
                            <button class="btn btn-default btn-circle" type="button"><i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-primary btn-circle" type="button"><i class="fa fa-list"></i>
                            </button>
                            <button class="btn btn-success btn-circle" type="button"><i class="fa fa-link"></i>
                            </button>
                            <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                            </button>
                            <button class="btn btn-danger btn-circle" type="button"><i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-danger btn-circle btn-outline" type="button"><i
                                    class="fa fa-heart"></i>
                            </button>
                            <br />
                            <br />
                            <button class="btn btn-default btn-circle btn-lg" type="button"><i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-primary btn-circle btn-lg" type="button"><i class="fa fa-list"></i>
                            </button>
                            <button class="btn btn-success btn-circle btn-lg" type="button"><i class="fa fa-link"></i>
                            </button>
                            <button class="btn btn-info btn-circle btn-lg" type="button"><i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-warning btn-circle btn-lg" type="button"><i class="fa fa-times"></i>
                            </button>
                            <button class="btn btn-danger btn-circle btn-lg" type="button"><i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-danger btn-circle btn-lg btn-outline" type="button"><i
                                    class="fa fa-heart"></i>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Round button</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Option 1</a>
                                    </li>
                                    <li><a href="#">Option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>
                                The rounded button can be realized by adding the value of class
                                <code>.btn-rounded</code>
                            </p>

                            <h3 class="font-bold">Button group</h3>
                            <p>
                                <a class="btn btn-default btn-rounded" href="#">Default</a>
                                <a class="btn btn-primary btn-rounded" href="#">primary</a>
                                <a class="btn btn-success btn-rounded" href="#">Achievements</a>
                                <a class="btn btn-info btn-rounded" href="#">Information</a>
                                <a class="btn btn-warning btn-rounded" href="#">Warning</a>
                                <a class="btn btn-danger btn-rounded" href="#">Dangerous</a>
                                <a class="btn btn-danger btn-rounded btn-outline" href="#">Dangerous</a>
                                <br />
                                <br />
                                <a class="btn btn-primary btn-rounded btn-block" href="#"><i
                                        class="fa fa-info-circle"></i> Rounded corner block-level button with icon</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>

</html>