<!DOCTYPE html>
<html lang="en-US">

<head>
    <th:block th:include="include :: header('Card list')" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">NEW</span>
                        <h5>IT-01-Design Department</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>Department Introduction</h4>
                        <p>
                            Graphic design, also known as visual communication design, uses "visual" as a means of
                            communication and expression. It uses a variety of ways to create and combine symbols,
                            pictures and words to convey ideas or messages. Visual performance.
                        </p>
                        <div>
                            <span>Current project progress: </span>
                            <div class="stat-percent">48%</div>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">Item</div>
                                12
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">Period</div>
                                4 months
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">Budget</div>
                                &yen;200,913 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>IT-04-Marketing Department</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>Department Introduction</h4>
                        <p>
                            Graphic design, also known as visual communication design, uses "visual" as a means of
                            communication and expression. It uses a variety of ways to create and combine symbols,
                            pictures and words to convey ideas or messages. Visual performance.
                        </p>
                        <div>
                            <span>Current project progress:</span>
                            <div class="stat-percent">32%</div>
                            <div class="progress progress-mini">
                                <div style="width: 32%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">Project</div>
                                twenty four
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">Period</div>
                                3 months
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">Budget</div>
                                &yen;190,325 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>IT-07-Finance Department</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>Department Introduction</h4>
                        <p>
                            Graphic design, also known as visual communication design, uses "visual" as a means of
                            communication and expression. It uses a variety of ways to create and combine symbols,
                            pictures and words to convey ideas or messages. Visual performance.
                        </p>
                        <div>
                            <span>Current project progress: </span>
                            <div class="stat-percent">73%</div>
                            <div class="progress progress-mini">
                                <div style="width: 73%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">Item</div>
                                11
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">Period</div>
                                6 months
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">Budget</div>
                                &yen;560,105 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>IT-02-Development Department</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>Department Introduction</h4>
                        <p>
                            Graphic design, also known as visual communication design, uses "visual" as a means of
                            communication and expression. It uses a variety of ways to create and combine symbols,
                            pictures and words to convey ideas or messages. Visual performance.
                        </p>
                        <div>
                            <span>Current project progress: </span>
                            <div class="stat-percent">61%</div>
                            <div class="progress progress-mini">
                                <div style="width: 61%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">Item</div>
                                43
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">Period</div>
                                1 month
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">Budget</div>
                                &yen;705,913 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">Due</span>
                        <h5>IT-05-Management level</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>Department Introduction</h4>
                        <p>
                            Graphic design, also known as visual communication design, uses "visual" as a means of
                            communication and expression. It uses a variety of ways to create and combine symbols,
                            pictures and words to convey ideas or messages. Visual performance.
                        </p>
                        <div>
                            <span>Current project progress: </span>
                            <div class="stat-percent">14%</div>
                            <div class="progress progress-mini">
                                <div style="width: 14%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">Item</div>
                                8
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">Period</div>
                                7 months
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">Budget</div>
                                &yen;40,200 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>IT-08-Sales Department</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>Department Introduction</h4>
                        <p>
                            Graphic design, also known as visual communication design, uses "visual" as a means of
                            communication and expression. It uses a variety of ways to create and combine symbols,
                            pictures and words to convey ideas or messages. Visual performance.
                        </p>
                        <div>
                            <span>Current project progress: </span>
                            <div class="stat-percent">25%</div>
                            <div class="progress progress-mini">
                                <div style="width: 25%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">Item</div>
                                25
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">Period</div>
                                4 months
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">Budget</div>
                                &yen;140,105 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-title">

                        <h5>IT-02-Sales Department</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>Department Introduction</h4>
                        <p>
                            Graphic design, also known as visual communication design, uses "visual" as a means of
                            communication and expression. It uses a variety of methods to create and combine symbols,
                            pictures and words to convey ideas or messages. Visual performance.
                        </p>
                        <div>
                            <span>Current project progress:</span>
                            <div class="stat-percent">82%</div>
                            <div class="progress progress-mini">
                                <div style="width: 82%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">Project</div>
                                68
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">Period</div>
                                2 months
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">Budget</div>
                                &yen;701,400 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>IT-06-Sales Department</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>Department Introduction</h4>
                        <p>
                            Graphic design, also known as visual communication design, uses "visual" as a means of
                            communication and expression. It uses a variety of methods to create and combine symbols,
                            pictures and words to convey ideas or messages. Visual performance.
                        </p>
                        <div>
                            <span>Current project progress:</span>
                            <div class="stat-percent">26%</div>
                            <div class="progress progress-mini">
                                <div style="width: 26%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">Project</div>
                                16
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">Period</div>
                                8 months
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">Budget</div>
                                &yen;160,100 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>IT-09-Sales Department</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>Department Introduction</h4>
                        <p>
                            Graphic design, also known as visual communication design, uses "visual" as a means of
                            communication and expression. It uses a variety of methods to create and combine symbols,
                            pictures and words to convey ideas or messages. Visual performance.
                        </p>
                        <div>
                            <span>Current project progress:</span>
                            <div class="stat-percent">18%</div>
                            <div class="progress progress-mini">
                                <div style="width: 18%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">Project</div>
                                53
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">Period</div>
                                9 months
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">Budget</div>
                                &yen;60,140 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>

</html>