<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="include :: header('Drag sort')" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Task list</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag the task panel between lists</p>

                        <div class="input-group">
                            <input type="text" placeholder="Add new task" class="input input-sm form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i>
                                    Add</button>
                            </span>
                        </div>

                        <ul class="sortable-list connectList agile-list">
                            <li class="warning-element">
                                Strengthen process management, make timely statistics on the use of education funds, and
                                make sure the code is clear.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.01
                                </div>
                            </li>
                            <li class="success-element">
                                Support the continuing training of accounting personnel.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="info-element">
                                Cooperate with the teaching office to do a good job in granting grants and reducing or
                                exempting textbook fees.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="danger-element">
                                Accountants and cashiers are required to strictly implement the financial system, abide
                                by their job responsibilities, and report various materials on time.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">OK</a>
                                    <i class="fa fa-clock-o"></i> 2018.06.10
                                </div>
                            </li>
                            <li class="warning-element">
                                We will do a good job in medical work for employees at public expense, and pay
                                outpatient fees on time.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tags</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                Review the textbook three to five times in a planned way.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">OK</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                Read a high-quality high school grammar book
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="info-element">
                                Choose a better English newspaper and improve your English learning through reading.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>In progress</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag the task panel between lists</p>
                        <ul class="sortable-list connectList agile-list">
                            <li class="success-element">
                                Comprehensively and deeply grasp the functions, features and advantages of our
                                "products" and apply them freely.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tags</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.01
                                </div>
                            </li>
                            <li class="success-element">
                                According to the information he knew before and searched from other channels, he entered
                                150 customer profiles.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="warning-element">
                                20 interested customers were locked.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                Strive to complete sales targets.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tags</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="info-element">
                                Advance in summary and exploration.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">OK</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                Continuously learn industry knowledge and product knowledge, and bring practical content
                                to customers
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="danger-element">
                                Friend first, order later: develop good friendship with customers, change the role of
                                salesperson, and consider customers everywhere
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.11.04
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Completed</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag the task panel between lists</p>
                        <ul class="sortable-list connectList agile-list">
                            <li class="info-element">
                                Develop work schedule
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                Make 40 effective calls every day to find potential customers
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tags</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                Before visiting a customer, you must have a comprehensive understanding of the customer
                                (the customer's potential needs, position, authority, personal personality and hobbies)
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tags</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                Improve your telemarketing skills and communicate with customers on the phone flexibly
                                and professionally
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">OK</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                Understand the use of equipment, purchases and related important trackers in various
                                cities through the telephone sales process
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
    <script>
        $(document).ready(function () {
            $(".sortable-list").sortable({ connectWith: ".connectList" }).disableSelection()
        });
    </script>
</body>

</html>