<!DOCTYPE html>
<html lang="en-US">

<head>
    <th:block th:include="include :: header('Tabs & Panels')" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Basic panel <small class="m-l-sm">This is a custom panel</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Option 1</a>
                                </li>
                                <li><a href="#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            Bootstrap<br />
                        </h2>
                        <p>
                            The simple, intuitive, and powerful front-end development framework makes web development
                            faster and easier. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> First tab</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Second tab</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <strong>HTML5 document type</strong>
                                <p>Some HTML elements and CSS properties used by Bootstrap need to be set to HTML5
                                    document type. Each page in your project should be set according to the following
                                    format. </p>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <strong>Mobile first</strong>
                                <p>In Bootstrap 2, we added mobile-friendly styles to some key parts of the framework.
                                    And in Bootstrap 3
                                    In, we rewrote the entire framework to make it mobile friendly from the beginning.
                                    This time, instead of simply adding some optional styles for mobile devices, it is
                                    directly integrated into the core of the framework. In other words, Bootstrap
                                    It is mobile first. The style for mobile devices is integrated into every corner of
                                    the frame instead of adding an extra file. </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel blank-panel">

                    <div class="panel-heading">
                        <div class="panel-title m-b-md">
                            <h4>Icon tab</h4>
                        </div>
                        <div class="panel-options">

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-4"><i class="fa fa-laptop"></i></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#tab-5"><i class="fa fa-desktop"></i></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#tab-6"><i class="fa fa-signal"></i></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#tab-7"><i class="fa fa-bar-chart-o"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="tab-4" class="tab-pane active">
                                <strong>Typography and links</strong>

                                <p>Bootstrap typography and link style set basic global styles. They are: set
                                    background-color for the body element: #fff; use
                                    @font-family-base, @font-size-base and @line-height-base a variables are used as the
                                    basic parameters of typesetting, and the basic colors are set for all links
                                    @link-color, and only add an underline when the link is in the :hover state. These
                                    styles can be found in the corresponding source code in the scaffolding.less file.
                                </p>
                            </div>

                            <div id="tab-5" class="tab-pane">
                                <strong>Normalize.css</strong>

                                <p>In order to enhance the consistency of cross-browser performance, we use
                                    Normalize.css, a CSS maintained by Nicolas Gallagher and Jonathan Neal
                                    Reset the style library. </p>
                            </div>
                            <div id="tab-6" class="tab-pane">
                                <strong>Layout container</strong>

                                <p>Bootstrap needs to wrap a .container container for the page content and grid system.
                                    We provide two classes for this purpose. Note that due to padding and other
                                    attributes, these two
                                    Container classes cannot be nested within each other. </p>
                            </div>
                            <div id="tab-7" class="tab-pane">
                                <strong>Grid system</strong>

                                <p>Bootstrap
                                    A responsive, mobile device-first streaming grid system is provided. As the size of
                                    the screen or viewport increases, the system will automatically be divided into up
                                    to 12 columns. It contains easy-to-use predefined classes and powerful mixins
                                    Used to generate a more semantic layout. </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-sm-6">
                <div class="tabs-container">

                    <div class="tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-8">The first tab</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-9"> Second tab</a>
                            </li>
                        </ul>
                        <div class="tab-content ">
                            <div id="tab-8" class="tab-pane active">
                                <div class="panel-body">
                                    <strong>Typography and links</strong>

                                    <p>Bootstrap typography and link style set basic global styles. They are: set
                                        background-color for the body element: #fff; use
                                        @font-family-base, @font-size-base and @line-height-base a variables are used as
                                        the basic parameters of typesetting, and the basic colors are set for all links
                                        @link-color, and only add an underline when the link is in the :hover state.
                                        These styles can be found in the corresponding source code in the
                                        scaffolding.less file. </p>
                                </div>
                            </div>
                            <div id="tab-9" class="tab-pane">
                                <div class="panel-body">
                                    <strong>Grid System</strong>

                                    <p>Bootstrap
                                        A responsive, mobile device-first streaming grid system is provided. As the
                                        screen or viewport size increases, the system will automatically be divided into
                                        up to 12 columns. It contains easy-to-use predefined classes and powerful mixins
                                        Used to generate a more semantic layout.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="tabs-container">
                    <div class="tabs-right">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-10">The first tab</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-11"> Second tab</a>
                            </li>
                        </ul>
                        <div class="tab-content ">
                            <div id="tab-10" class="tab-pane active">
                                <div class="panel-body">
                                    <strong>Typography and links</strong>

                                    <p>Bootstrap typography and link style set basic global styles. They are: set
                                        background-color for the body element: #fff; use
                                        @font-family-base, @font-size-base and @line-height-base a variables are used as
                                        the basic parameters of typesetting, and the basic colors are set for all links
                                        @link-color, and only add an underline when the link is in the :hover state.
                                        These styles can be found in the corresponding source code in the
                                        scaffolding.less file.</p>
                                </div>
                            </div>
                            <div id="tab-11" class="tab-pane">
                                <div class="panel-body">
                                    <strong>Grid system</strong>

                                    <p>Bootstrap
                                        A responsive, mobile device-first streaming grid system is provided. As the
                                        screen or viewport size increases, the system will automatically be divided into
                                        up to 12 columns. It contains easy-to-use predefined classes and powerful mixins
                                        Used to generate a more semantic layout.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Bootstrap panel <small>custom background</small></h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Default panel
                                    </div>
                                    <div class="panel-body">
                                        <p>You can easily add a header container to the panel through .panel-heading.
                                            You can also set up by adding .panel-title
                                            For the label of the class, add a title with a predefined style. In order to
                                            set the appropriate color for the link, be sure to put the link in a title
                                            tag with the .panel-title class. </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        main
                                    </div>
                                    <div class="panel-body">
                                        <p>You can easily add a header container to the panel through .panel-heading.
                                            You can also set up by adding .panel-title
                                            For the label of the class, add a title with a predefined style. In order to
                                            set the appropriate color for the link, be sure to put the link in a title
                                            tag with the .panel-title class. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        success
                                    </div>
                                    <div class="panel-body">
                                        <p>You can easily add a header container to the panel through .panel-heading.
                                            You can also set up by adding .panel-title
                                            For the label of the class, add a title with a predefined style. In order to
                                            set the appropriate color for the link, be sure to put the link in a title
                                            tag with the .panel-title class.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i>information
                                    </div>
                                    <div class="panel-body">
                                        <p>You can easily add a header container to the panel through .panel-heading.
                                            You can also set up by adding .panel-title
                                            For the label of the class, add a title with a predefined style. In order to
                                            set the appropriate color for the link, be sure to put the link in a title
                                            tag with the .panel-title class. </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <i class="fa fa-warning"></i> Warning
                                    </div>
                                    <div class="panel-body">
                                        <p>You can easily add a header container to the panel through .panel-heading.
                                            You can also set up by adding .panel-title
                                            For the label of the class, add a title with a predefined style. In order to
                                            set the appropriate color for the link, be sure to put the link in a title
                                            tag with the .panel-title class.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        Danger
                                    </div>
                                    <div class="panel-body">
                                        <p>You can easily add a header container to the panel through .panel-heading.
                                            You can also set up by adding .panel-title
                                            Add a title with a predefined style to the label of the class. In order to
                                            set the appropriate color for the link, be sure to put the link in a title
                                            tag with the .panel-title class. </p>
                                    </div>
                                    <div class="panel-footer">
                                        Panel Footer
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Collapsible panel</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Option 1</a>
                                </li>
                                <li><a href="#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">title
                                                #1</a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Recommended high-quality projects related to Bootstrap These projects either
                                            complement Bootstrap usefully, or are developed based on Bootstrap
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Title
                                                #2</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Recommended high-quality projects related to Bootstrap These projects either
                                            complement Bootstrap usefully, or are developed based on Bootstrap
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseThree">title
                                                #3</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Recommended high-quality projects related to Bootstrap These projects either
                                            complement Bootstrap usefully, or are developed based on Bootstrap
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron">
                    <h1>Large screen</h1>
                    <p>Bootstrap
                        Another feature supported is Jumbotron. As the name suggests, this component can increase the
                        size of the title and add more margins to the content of the login page. The steps to use
                        Jumbotron are as follows:</p>
                    <div class="alert alert-warning">
                        <ol>
                            <li>Create a container with class .jumbotron.</li>
                            <li>In addition to the larger &lt;h1&gt;, the font-weight is reduced to 200px. </li>
                        </ol>
                    </div>

                    <p><a role="button" class="btn btn-primary btn-lg">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>

</html>