<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
    <div class="row animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="text-center float-e-margins p-md">
                <span>Turn on/off the color/background or direction version: </span>
                <a href="#" class="btn btn-xs btn-primary" id="lightVersion">light version </a>
                <a href="#" class="btn btn-xs btn-primary" id="darkVersion">Black version </a>
            </div>
            <div id="ibox-content">
                <div id="vertical-timeline" class="vertical-container light-timeline">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Meeting</h2>
                            <p>Last year’s sales performance conference. Summarize product marketing and sales trends
                                and sales status.
                            </p>
                            <a href="#" class="btn btn-sm btn-primary"> more information</a>
                            <span class="vertical-date">
                                Today <br>
                                <small>February 3</small>
                            </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon blue-bg">
                            <i class="fa fa-file-text"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Send a document to Zhang San</h2>
                            <p>Send last year's "Sales Performance Report"</p>
                            <a href="#" class="btn btn-sm btn-success"> Download the document </a>
                            <span class="vertical-date">
                                Today <br>
                                <small>February 3</small>
                            </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon lazur-bg">
                            <i class="fa fa-coffee"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Coffee break</h2>
                            <p>Drink coffee, la la la~~</p>
                            <a href="#" class="btn btn-sm btn-info">More</a>
                            <span class="vertical-date"> Yesterday <br><small>February 2</small></span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon yellow-bg">
                            <i class="fa fa-phone"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Call Li Si</h2>
                            <p>Call Li Si to assign tasks for this month</p>
                            <span class="vertical-date">Yesterday <br><small> February 2</small></span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon lazur-bg">
                            <i class="fa fa-user-md"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Company Annual Meeting</h2>
                            <p>Send the year-end bonus, la la la~~</p>
                            <span class="vertical-date">The day before yesterday <br><small>February 1</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script>
        $(document).ready(function () {
            $('#lightVersion').click(function (event) {
                event.preventDefault()
                $('#ibox-content').removeClass('ibox-content');
                $('#vertical-timeline').removeClass('dark-timeline');
                $('#vertical-timeline').addClass('light-timeline');
            });
            $('#darkVersion').click(function (event) {
                event.preventDefault()
                $('#ibox-content').addClass('ibox-content');
                $('#vertical-timeline').removeClass('light-timeline');
                $('#vertical-timeline').addClass('dark-timeline');
            });
        });
    </script>
</body>

</html>