<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="include :: header('Form validation')" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Introduction to jQuery Validate</h5>
                    </div>
                    <div class="ibox-content">
                        <p>jquery.validate.js is an excellent jQuery form validation plugin. It has the following
                            characteristics:</p>
                        <ul>
                            <li>Simple installation</li>
                            <li>Over 20 built-in data verification methods</li>
                            <li>In-line error message</li>
                            <li>Extensible data verification method</li>
                            <li>Use the built-in metadata or plug-in options to specify your validation rules</li>
                            <li>Elegant interaction design</li>
                        </ul>
                        <p>Official website: <a href="http://jqueryvalidation.org/"
                                target="_blank">http://jqueryvalidation.org/</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Simple example</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="commentForm">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name:</label>
                                <div class="col-sm-8">
                                    <input id="cname" name="name" minlength="2" type="text" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">E-mail:</label>
                                <div class="col-sm-8">
                                    <input id="cemail" type="email" class="form-control" name="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Website:</label>
                                <div class="col-sm-8">
                                    <input id="curl" type="url" class="form-control" name="url">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description:</label>
                                <div class="col-sm-8">
                                    <textarea id="ccomment" name="comment" class="form-control" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <p class="m-t">For more examples, please visit the official example page: <a
                                href="http://jqueryvalidation.org/files/demo/" target="_blank">View</a>
                        </p>
                        <p>Chinese API can refer to: <a
                                href="http://doc.ruoyi.vip/ruoyi/document/zjwd.html#jquery-validate"
                                target="_blank">http://doc.ruoyi.vip/ruoyi/document/zjwd.html#jquery-validate</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Complete verification form</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="signupForm">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Last name: </label>
                                <div class="col-sm-8">
                                    <input id="firstname" name="firstname" class="form-control" type="text">
                                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> write some tips
                                        here</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name: </label>
                                <div class="col-sm-8">
                                    <input id="lastname" name="lastname" class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">User name: </label>
                                <div class="col-sm-8">
                                    <input id="username" name="username" class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Password: </label>
                                <div class="col-sm-8">
                                    <input id="password" name="password" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Confirm password: </label>
                                <div class="col-sm-8">
                                    <input id="confirm_password" name="confirm_password" class="form-control"
                                        type="password">
                                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Please enter
                                        your password again</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">E-mail: </label>
                                <div class="col-sm-8">
                                    <input id="email" name="email" class="form-control" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        $(function () {
            $("#commentForm").validate();

            var icon = "<i class='fa fa-times-circle'></i> ";
            $("#signupForm").validate({
                rules: {
                    firstname: "required",
                    lastname: "required",
                    username: {
                        required: true,
                        minlength: 2
                    },
                    password: {
                        required: true,
                        minlength: 5
                    },
                    confirm_password: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password"
                    },
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    firstname: icon + "Please enter your last name",
                    lastname: icon + "Please enter your name",
                    username: {
                        required: icon + "Please enter your username",
                        minlength: icon + "User name must be at least two characters"
                    },
                    password: {
                        required: icon + "Please enter your password",
                        minlength: icon + "Password must be at least 5 characters"
                    },
                    confirm_password: {
                        required: icon + "Please enter your password again",
                        minlength: icon + "Password must be at least 5 characters",
                        equalTo: icon + "The two entered passwords are not consistent"
                    },
                    email: icon + "Please enter your E-mail"
                }
            });

            $("#username").focus(function () {
                var firstname = $("#firstname").val();
                var lastname = $("#lastname").val();
                if (firstname && lastname && !this.value) {
                    this.value = firstname + "." + lastname;
                }
            });
        });
    </script>
</body>

</html>