package ${packageName}.mapper;

import java.util.List;
import ${packageName}.domain.${ClassName};
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end

/**
 * ${functionName}Mapper interface
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper 
{
    /**
     * Query ${functionName}
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return ${functionName}
     */
    public ${ClassName} select${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * Query the list of ${functionName}
     * 
     * @param ${className} ${functionName}
     * @return ${functionName} collection
     */
    public List<${ClassName}> select${ClassName}List(${ClassName} ${className});

    /**
     * Add ${functionName}
     * 
     * @param ${className} ${functionName}
     * @return result
     */
    public int insert${ClassName}(${ClassName} ${className});

    /**
     * Modify ${functionName}
     * 
     * @param ${className} ${functionName}
     * @return result
     */
    public int update${ClassName}(${ClassName} ${className});

    /**
     * Delete ${functionName}
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return result
     */
    public int delete${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * Batch delete ${functionName}
     * 
     * @param ${pkColumn.javaField}s ID of the data to be deleted
     * @return result
     */
    public int delete${ClassName}ByIds(String[] ${pkColumn.javaField}s);
#if($table.sub)

    /**
     * Batch delete ${subTable.functionName}
     * 
     * @param customerIds ID of the data to be deleted
     * @return result
     */
    public int delete${subClassName}By${subTableFkClassName}s(String[] ${pkColumn.javaField}s);
    
    /**
     * Add ${subTable.functionName} in bulk
     * 
     * @param ${subclassName}List ${subTable.functionName} list
     * @return result
     */
    public int batch${subClassName}(List<${subClassName}> ${subclassName}List);
    

    /**
     * Delete ${subTable.functionName} information by ${functionName}ID
     * 
     * @param roleId Role ID
     * @return result
     */
    public int delete${subClassName}By${subTableFkClassName}(${pkColumn.javaType} ${pkColumn.javaField});
#end
}
