package ${packageName}.service;

import java.util.List;
import ${packageName}.domain.${ClassName};
#if($table.tree)
import com.smanga.common.core.domain.Ztree;
#end

/**
 * ${functionName}Service interface
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service 
{
    /**
     * Query ${functionName}
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return ${functionName}
     */
    public ${ClassName} select${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * Query the list of ${functionName}
     * 
     * @param ${className} ${functionName}
     * @return ${functionName} collection
     */
    public List<${ClassName}> select${ClassName}List(${ClassName} ${className});

    /**
     * Add ${functionName}
     * 
     * @param ${className} ${functionName}
     * @return result
     */
    public int insert${ClassName}(${ClassName} ${className});

    /**
     * Modify ${functionName}
     * 
     * @param ${className} ${functionName}
     * @return result
     */
    public int update${ClassName}(${ClassName} ${className});

    /**
     * Batch delete ${functionName}
     * 
     * @param ids ID of the data to be deleted
     * @return result
     */
    public int delete${ClassName}ByIds(String ids);

    /**
     * Delete ${functionName} information
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return result
     */
    public int delete${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});
#if($table.tree)

    /**
     * Query ${functionName} tree list
     * 
     * @return All ${functionName} information
     */
    public List<Ztree> select${ClassName}Tree();
#end
}
