<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="cacheEnabled"             value="true"  />  <!-- Global mapper enables caching -->
		<setting name="useGeneratedKeys"         value="true"  />  <!-- Allow JDBC to support automatic generation of primary keys -->
		<setting name="defaultExecutorType"      value="REUSE" />  <!-- Configure the default actuator -->
		<setting name="logImpl"                  value="SLF4J" />  <!-- Specify the specific implementation of the log used by MyBatis -->
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/>  Hump ​​naming -->
	</settings>
	
</configuration>
