<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('AddBusiness User Information Form')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-user-add">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Account name：</label>
                <div class="col-sm-8">
                    <input name="loginName" id="loginName" placeholder="Please enter the login account"
                        class="form-control" type="text" maxlength="30" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">User name：</label>
                <div class="col-sm-8">
                    <input name="userName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">User type：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="userType" value="R">
                        <label th:for="userType" th:text="Reader"></label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="userType" value="P">
                        <label th:for="userType" th:text="Publisher"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Password：</label>
                <div class="col-sm-8">
                    <input name="password" id="password" placeholder="Please enter the login password"
                        class="form-control" type="password" th:value="${@config.getKey('sys.user.initPassword')}"
                        required>
                    <span class="input-group-addon" title="Login password, click the mouse to display the password"
                        onmousedown="$('#password').attr('type','text')"
                        onmouseup="$('#password').attr('type','password')"><i class="fa fa-key"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Email：</label>
                <div class="col-sm-8">
                    <input name="email" id="email" class="form-control email" type="text" maxlength="50"
                        placeholder="Please enter the email address">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mobile phone number：</label>
                <div class="col-sm-8">
                    <input name="phonenumber" id="phonenumber" placeholder="Please enter your mobile phone number"
                        class="form-control" type="text" maxlength="11">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">User gender：</label>
                <div class="col-sm-8">
                    <select name="sex" class="form-control m-b">
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                        <option value="2">Unknown</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Account status：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="0" checked>
                        <label th:for="status" th:text="Enable"></label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="status" value="1">
                        <label th:for="status" th:text="Disable"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remark：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/user"
        $("#form-user-add").validate({
            onkeyup: false,
            rules: {
                loginName: {
                    minlength: 6,
                    maxlength: 30,
                    remote: {
                        url: prefix + "/name/unique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "loginName": function () {
                                return $.common.trim($("#loginName").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
                password: {
                    minlength: 6,
                    maxlength: 20
                },
                email: {
                    email: true,
                    remote: {
                        url: prefix + "/email/unique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "email": function () {
                                return $.common.trim($("#email").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
                phonenumber: {
                    isPhone: true,
                    remote: {
                        url: prefix + "/phone/unique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "phonenumber": function () {
                                return $.common.trim($("#phonenumber").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
            },
            messages: {
                "loginName": {
                    remote: "User already exists"
                },
                "email": {
                    remote: "Email already exists"
                },
                "phonenumber": {
                    remote: "Mobile phone number already exists"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-user-add').serialize());
            }
        }
    </script>
</body>

</html>