<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<th:block th:include="include :: header('Operation log list')" />
	<th:block th:include="include :: bootstrap-select-css" />
</head>

<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<div class="select-list">
						<ul>
							<li>

								<label>System module: </label><input type="text" name="title" />
							</li>
							<li>
								<label>Operator: </label><input type="text" name="operName" />
							</li>
							<li class="select-selectpicker">
								<label>Operation type: </label><select id="businessTypes"
									th:with="type=${@dict.getType('sys_oper_type')}" class="selectpicker"
									data-none-selected-text="Please select" multiple>
									<option th:each="dict: ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>Operation status:</label><select name="status"
									th:with="type=${@dict.getType('sys_common_status')}">
									<option value="">All</option>
									<option th:each="dict: ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>Operation time: </label>
								<input type="text" class="time-input" id="startTime" placeholder="Start time"
									name="params[beginTime]" />
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="End time"
									name="params[endTime]" />
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="searchPre()"><i
										class="fa fa-search"></i>&nbsp;Search</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i
										class="fa fa-refresh"></i>&nbsp;Reset</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
					shiro:hasPermission="monitor:operlog:remove">
					<i class="fa fa-remove"></i> delete
				</a>
				<a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:operlog:remove">
					<i class="fa fa-trash"></i> Clear
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:operlog:export">
					<i class="fa fa-download"></i> export
				</a>
			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>

	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-select-js" />
	<script th:inline="javascript">
		var detailFlag = [[${@permission.hasPermi('monitor:operlog:detail') }]];
		var datas = [[${@dict.getType('sys_oper_type') }]];
		var prefix = ctx + "monitor/operlog";

		$(function () {
			var options = {
				url: prefix + "/list",
				cleanUrl: prefix + "/clean",
				detailUrl: prefix + "/detail/{id}",
				removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				queryParams: queryParams,
				sortName: "operTime",
				sortOrder: "desc",
				modalName: "Operation log",
				escape: true,
				showPageGo: true,
				rememberSelected: true,
				columns: [{
					field: 'state',
					checkbox: true
				},
				{
					field: 'operId',
					title: 'Log number'
				},
				{
					field: 'title',
					title: 'System Module'
				},
				{
					field: 'businessType',
					title: 'Operation Type',
					align: 'center',
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(datas, value);
					}
				},
				{
					field: 'operName',
					title: 'Operator',
					sortable: true
				},
				{
					field: 'deptName',
					title: 'Department name'
				},
				{
					field: 'operIp',
					title: 'Host'
				},
				{
					field: 'operLocation',
					title: 'Operation location'
				},
				{
					field: 'status',
					title: 'Operation status',
					align: 'center',
					formatter: function (value, row, index) {
						if (value == 0) {
							return '<span class="badge badge-primary">Success</span>';
						} else if (value == 1) {
							return '<span class="badge badge-danger">Failed</span>';
						}
					}
				},
				{
					field: 'operTime',
					title: 'Operation time',
					sortable: true
				},
				{
					title: 'Operation',
					align: 'center',
					formatter: function (value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.operId + '\')"><i class="fa fa-search"></i>Detail</a>');
						return actions.join('');
					}
				}]
			};
			$.table.init(options);
		});

		function queryParams(params) {
			var search = $.table.queryParams(params);
			search.businessTypes = $.common.join($('#businessTypes').selectpicker('val'));
			return search;
		}

		function searchPre() {
			$.table.search('operlog-form', 'bootstrap-table');
		}

		function resetPre() {
			$("#operlog-form")[0].reset();
			$("#businessTypes").selectpicker('refresh');
			$.table.search('operlog-form', 'bootstrap-table');
		}
	</script>
</body>

</html>