<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<th:block th:include="include :: header('Role list')" />
</head>

<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								Role name: <input type="text" name="roleName" />
							</li>
							<li>
								Authorization character: <input type="text" name="roleKey" />
							</li>
							<li>
								Role status: <select name="status"
									th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">All</option>
									<option th:each="dict: ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>Create time: </label>
								<input type="text" class="time-input" id="startTime" placeholder="start time"
									name="params[beginTime]" />
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="end time"
									name="params[endTime]" />
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
										class="fa fa-search"></i>&nbsp;Search</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
										class="fa fa-refresh"></i>&nbsp;Reset</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:role:add">
					<i class="fa fa-plus"></i>Add
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()"
					shiro:hasPermission="system:role:edit">
					<i class="fa fa-edit"></i> Edit
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
					shiro:hasPermission="system:role:remove">
					<i class="fa fa-remove"></i> Delete
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:role:export">
					<i class="fa fa-download"></i> Export
				</a>
			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:role:edit') }]];
		var removeFlag = [[${@permission.hasPermi('system:role:remove') }]];
		var prefix = ctx + "system/role";


		$(function () {
			var options = {
				url: prefix + "/list",
				createUrl: prefix + "/add",
				updateUrl: prefix + "/edit/{id}",
				removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				sortName: "roleSort",
				modalName: "Roles",
				columns: [{
					checkbox: true
				},
				{
					field: 'roleId',
					title: 'role number'
				},
				{
					field: 'roleName',
					title: 'Character name',
					sortable: true
				},
				{
					field: 'roleKey',
					title: 'Authorization character',
					sortable: true
				},
				{
					field: 'roleSort',
					title: 'Display order',
					sortable: true
				},
				{
					visible: editFlag == 'hidden' ? false : true,
					title: 'role status',
					align: 'center',
					formatter: function (value, row, index) {
						return statusTools(row);
					}
				},
				{
					field: 'createTime',
					title: 'Create time',
					sortable: true
				},
				{
					title: 'Operation',
					align: 'center',
					formatter: function (value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.roleId + '\')"><i class="fa fa-edit"></i>Edit</a> ');
						actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.roleId + '\')"><i class="fa fa-remove"></i>Delete</a> ');
						var more = [];
						more.push("<a class='btn btn-default btn-xs " + editFlag + "' href='javascript:void(0)' onclick='authDataScope(" + row.roleId + ")'><i class='fa fa-check-square-o'></i>Data permission</a> ");
						more.push("<a class='btn btn-default btn-xs " + editFlag + "' href='javascript:void(0)' onclick='authUser(" + row.roleId + ")'><i class='fa fa-user'></i>Assign user</a>");
						actions.push('<a tabindex="0" class="btn btn-info btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>More actions</a>');
						return actions.join('');
					}
				}]
			};
			$.table.init(options);
		});

		/* Role management-assign data permissions */
		function authDataScope(roleId) {
			var url = prefix + '/authDataScope/' + roleId;
			$.modal.open("Assign data permissions", url);
		}

		/* Role management-assign users */
		function authUser(roleId) {
			var url = prefix + '/authUser/' + roleId;
			$.modal.openTab("Assign User", url);
		}

		/* Character status display */
		function statusTools(row) {
			if (row.status == 1) {
				return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.roleId + '\')"></i>';
			} else {
				return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.roleId + '\')"></i>';
			}
		}

		/* Role management-disabled */
		function disable(roleId) {
			$.modal.confirm("Are you sure you want to deactivate the role?", function () {
				$.operate.post(prefix + "/changeStatus", { "roleId": roleId, "status": 1 });
			})
		}

		/* Role management enabled */
		function enable(roleId) {
			$.modal.confirm("Are you sure you want to enable the role?", function () {
				$.operate.post(prefix + "/changeStatus", { "roleId": roleId, "status": 0 });
			})
		}
	</script>
</body>

</html>